@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* TEMA CLARO */
:root {
  --background-color: #f5f5f5;
  --color-principal: #1a73e8;
  --color-principal-hover: #0c3365;
  --color-secundario: #1e1e1e;
  --color-gris: #d9d9d9;

  --texto-color: #1e1e1e;
  --texto-color-secundario: #fff;

  --gris-muy-claro: #e5e4e2;
  --gris-oscuro: #1e1e1e;
  --text-color: #1e1e1e;
  --text-secondary-color: #555;
  --sombra-cajas: 0px 5px 5px rgba(0, 0, 0, 0.25);
  --sombra-texto: 0px 3px 3px rgba(0, 0, 0, 0.25);
}

/* General */

body {
  background: var(--background-color);
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
}

body.dark {
  --background-color: #333;
  --gris-claro: #d9d9d9;
  --gris-muy-claro: #e5e4e2;
  --text-color: #333;
  --text-secondary-color: #555;
  --gris-oscuro: #1e1e1e;
  --sombra-cajas: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.contenedor {
  max-width: 1200px;
  margin: 1em auto;
  padding: 20px;
}

.contenedor-full {
  width: 100%;
  margin: 0;
  padding: 20px;
}

.contenedor-boton {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Header - Encabezado*/

header {
  position: sticky;
  top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-principal);
  border-radius: 50px;
  box-shadow: var(--sombra-cajas);
  z-index: 100;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-inline: 5rem;
}

#boton-cambio-modo {
  width: 10%;
  height: 60px;
  width: 60px;
  line-height: 60px;
  color: var(--texto-color-secundario);
  font-size: 1.5em;
  cursor: pointer;
  text-align: center;
  left: 10em;
}

#boton-cambio-modo.fa-moon,
#boton-cambio-modo.fa-sun {
  animation-duration: 2s;
  animation-name: rotation;
  -webkit-animation-duration: 2s;
  -webkit-animation-name: rotation;
}

#boton-cambio-modo.fa-moon:hover,
#boton-cambio-modo.fa-sun:hover {
  transition: transform 2s;
  transform: rotate(360deg);
  color: var(--texto-color);
}

/* Regla para navegadores más antiguos */
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

/* Regla estandar de animación */
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.menu {
  display: flex;
  width: 90%;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  margin: 10px;
}

.menu li {
  list-style: none;
  margin: 0.5em;
}

.menu a {
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--texto-color-secundario);
}

.menu a:hover {
  color: var(--texto-color);
}

/* SECTION DOLAR */

#icono-peso {
  position: absolute;
  z-index: 1000;
  transition: transform 0.5s ease;
}

.titulos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 2rem;
  color: var(--color-principal);
}

.titulo {
  font-size: 1.75em;
  font-weight: 700;
  text-shadow: var(--sombra-texto);
}

.subtitulo {
  font-size: 0.75em;
  font-weight: 700;
  text-transform: uppercase;
}

.texto {
  color: var(--text-secondary-color);
  opacity: 0.75;
}

#contenedor-tarjetas {
  display: grid;
  justify-items: center;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;
}

.icono_dolar {
  align-items: center !important;
  z-index: 1;
}

.icono_dolar i {
  font-size: 5rem;
}

.tarjeta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 1.5em;
  background-color: var(--color-gris);
  border-radius: 25px;
  width: 200px;
  height: 200px;
  font-size: 1.25rem;
  box-shadow: var(--sombra-cajas);
  transition: transform 3s;
}

.tipo-moneda {
  font-weight: 800;
  padding-bottom: 0.5em;
}

.precio {
  font-size: 1.75em;
  font-weight: 700;
}

.tipo-precio {
  font-size: 1rem;
  opacity: 75%;
}

.tarjeta:hover {
  transform: rotateY(360deg);
  background-color: #1a73e87f;
  cursor: pointer;
}

/* SECTION MONEDAS */

#contenedor-tarjetas-otras {
  display: grid;
  justify-items: center;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;
}
.seccion-monedas {
  background-color: var(--color-principal);
  border-radius: 50px;
  padding: 3em;
}
.seccion-monedas .precio,
.seccion-monedas .subtitulo {
  color: var(--color-principal);
}

.titulo.alternativo {
  text-align: end;
  padding-bottom: 2rem;
  color: var(--texto-color-secundario);
}

.tarjeta-otra {
  background-color: var(--background-color);
}

.tarjeta-otra:hover {
  background-color: var(--background-color);
  cursor: pointer;
}

/* SECTION HISTORICO */
.seccion-historico {
  background: linear-gradient(71deg, #1a73e8 43.1%, #0e4182 100%);
  border-radius: 50px 50px 0px 0px;
}

.titulo-historico {
  color: var(--texto-color-secundario);
  text-align: center;
  margin-bottom: 2em;
}

.contenedor-grafico {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.contenedor-grafico .subtitulo {
  text-shadow: var(--sombra-texto);
  color: var(--texto-color-secundario);
  font-size: 1em;
}

.contenedor-grafico img {
  max-width: 1000px;
  border-radius: 50px;
  border: 3px solid white;
  box-shadow: var(--sombra-cajas);
}

.boton {
  text-decoration: none;
  border-radius: 50px;
  border: 3px solid;
  padding: 20px 30px;
  color: var(--color-principal);
  background: var(--background-color);
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}

.boton:hover {
  box-sizing: border-box;
  border: 3px solid var(--background-color);
  color: var(--texto-color-secundario);
  background-color: var(--color-principal);
}

/* Footer - Pie de Página */

.pie-pagina {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text-secondary-color);
  background: linear-gradient(71deg, #1a73e8 64.09%, #0e4182 128.18%);
}

.integrantes-utn {
  display: flex;
  padding-block: 5em 1em;
}

.lista-integrantes {
  padding-right: 2em;
}

.lista-integrantes li {
  list-style: none;
  padding-bottom: 0.5em;
}

.pie-pagina a {
  text-decoration: none;
  color: var(--texto-color-secundario);
}

.pie-pagina a:hover {
  color: var(--texto-color);
}

.pie-pagina img {
  width: 2em;
}

.recursos {
  padding: 1em;
}

/*
------
PÁGINA HISTÓRICO
------
*/

.historico {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-principal);
  text-shadow: var(--sombra-texto);
}

.historicos {
  display: flex;
  flex-direction: column;
  background-color: var(--color-principal);
  border-radius: 50px;
  max-width: 1200px;
  margin: 1em auto;
  padding: 2em;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.historicos-grafico {
  width: 100%;
  max-width: 650px;
}

.historicos h2 {
  grid-column: 1/5;
  text-align: center;
  text-shadow: var(--sombra-texto);
  font-size: 2em;
  margin-block: 1em;
  font-weight: 800;
  color: var(--background-color);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5em;
}

.grid-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  box-shadow: var(--sombra-cajas);
  background-color: var(--background-color);
  border-radius: 25px;
  gap: 1rem;
}

.grid-card .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.grid-card .price-icon {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.grid-card .price-icon i {
  font-size: 1.5em;
  text-shadow: var(--sombra-texto);
}

.grid-card .title {
  text-transform: uppercase;
  font-weight: 800;
  color: var(--color-secundario);
  text-align: start;
}

.grid-card .date {
  color: var(--text-secondary-color);
}

.grid-card .precio {
  font-size: 1.5em;
  font-weight: 800;
  text-shadow: var(--sombra-texto);
}
.grid-tit h4 {
  font-weight: 800;
  text-align: start;
  text-shadow: var(--sombra-texto);
  padding: 1em;
}

.grid-tit img {
  width: 100%;
  border-radius: 50px;
  box-shadow: var(--sombra-cajas);
}

.grid-may-cot-1 {
  font-size: 25px;
  margin-top: 15px;
}

.grid-may-cot-2 {
  font-size: 25px;
  margin-top: 15px;
}

.grid-may-pro {
  font-size: 25px;
  margin-top: 15px;
}

.grid-p-pro {
  font-size: 25px;
  margin-top: 15px;
}

.grafico {
  background-color: #fff;
  border-radius: 25px;
  padding: 1em;
}

/*
------
PÁGINA CONTACTO
------
*/

.contacto-titulo {
  font-size: 1.75em;
  font-weight: 900;
  color: var(--color-principal);
  text-align: center;
  margin-bottom: 1em;
}

.contenedor-formulario {
  max-width: 500px;
  margin: 2em auto;
  padding: 3em 2em;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: var(--sombra-cajas);
}
.form-item {
  margin-bottom: 15px;
}
.form-item label {
  display: block;
  margin-bottom: 5px;
  font-weight: 800;
  font-family: 'Inter', sans-serif;
}
.form-item input,
.form-item textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-item button {
  padding: 10px 15px;
  background-color: var(--color-principal);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-item button:hover {
  background-color: var(--color-principal-hover);
}

.btns {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

.btn-secondary {
  background-color: var(--color-secundario) !important;
}

.btn-secondary:hover {
  background-color: var(--text-secondary-color) !important;
}
#cotizaciones {
  display: none;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
  font-size: 0.75em;
  background-color: var(--color-gris);
  border-radius: 25px;
  box-shadow: var(--sombra-cajas);
}

/* MEDIA QUERY - ADAPTABILIDAD A DISPOSITIVOS  */

/* Movil pequeño (max-width: 480px) */
@media (max-width: 480px) {
  .contenedor {
    width: 100%;
  }
  header {
    padding: 10px;
  }
  .contenedor-formulario {
    padding: 10px;
  }
  .form-item input,
  .form-item textarea {
    padding: 6px;
  }
  .form-item button {
    padding: 8px 10px;
  }
}

/* Movil (max-width: 768px) */
@media (max-width: 768px) {
  nav {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .menu {
    flex-direction: column;
    text-align: center;
    margin: 10px 0;
  }
  .menu li {
    margin: 0.5em 0;
  }
  .boton {
    padding: 10px 15px;
    font-size: 14px;
  }
  .titulo {
    font-size: 1.25em;
    text-align: center;
  }
  .tarjeta {
    width: 75%;
    align-items: center;
    text-align: center;
  }
  .contenedor-grafico img,
  .grafico {
    max-width: 100%;
  }
  .contenedor-grafico {
    padding: 1em;
  }
  .titulos {
    flex-direction: column;
    gap: 1em;
    text-align: center;
  }
  #boton-cambio-modo {
    margin-top: 5px;
  }
  #contenedor-tarjetas,
  #contenedor-tarjetas-otras {
    grid-template-columns: 1fr;
  }
  #fecha {
    padding-block: 1em;
  }
  /* Historico */
  .grid {
    grid-template-columns: 1fr;
    gap: 1em;
    padding: 1em;
  }
  .historico {
    font-size: 2em;
    text-align: center;
  }
  .grid h2 {
    font-size: 1.5em;
    margin-block: 0.5em;
  }
  .grid-card {
    padding: 0.8em;
    font-size: 1em;
  }
  .grid-card .price-icon i {
    font-size: 1.2em;
  }

  /* Contacto */
  .contenedor-formulario {
    width: 90%;
    padding: 15px;
  }
  .form-item button {
    font-size: 0.9rem;
  }
}

/* Tablet (exactamente en 1024px) */
@media (width: 1024px) {
  /* Historico */
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    padding: 2em;
  }
  .grid h2 {
    font-size: 1.8em;
  }
  .grid-card {
    padding: 1em;
  }

  /* Inicio */
  .titulo {
    font-size: 1.5em;
  }
  #contenedor-tarjetas,
  #contenedor-tarjetas-otras {
    grid-template-columns: repeat(2, 1fr);
  }
  .tarjeta {
    width: 150px;
    height: 150px;
  }
  .grafico {
    max-width: 100%;
  }
}
