@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* TEMA CLARO */
:root {
  --background-color: #f5f5f5;
  --color-principal: #1a73e8;
  --color-secundario: #1e1e1e;
  --color-gris: #d9d9d9;

  --texto-color: #1e1e1e;
  --texto-color-secundario: #fff;

  --gris-muy-claro: #e5e4e2;
  --gris-oscuro: #1e1e1e;
  --text-color: #1e1e1e;
  --text-secondary-color: #555;
  --sombra-cajas: 0px 5px 5px rgba(0, 0, 0, 0.25);
  --sombra-texto: 0px 3px 3px rgba(0, 0, 0, 0.25);
}

/* General */

body {
  background: var(--background-color);
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

body.dark {
  --background-color: #333;
  --gris-claro: #d9d9d9;
  --gris-muy-claro: #e5e4e2;
  --text-color: #333;
  --text-secondary-color: #555;
  --gris-oscuro: #1e1e1e;
  --sombra-cajas: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.contenedor {
  max-width: 1200px;
  margin: 1em auto;
  padding: 20px;
}

.contenedor-full {
  width: 100%;
  margin: 0;
  padding: 20px;
}

/* Header - Encabezado*/

header {
  position: sticky;
  top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-principal);
  border-radius: 50px;
  box-shadow: var(--sombra-cajas);
  z-index: 100;
}

nav {
  display: flex;
}

#boton-cambio-modo {
  height: 60px;
  width: 60px;
  line-height: 60px;
  color: var(--texto-color-secundario);
  font-size: 1.5em;
  cursor: pointer;
  text-align: center;
  position: relative;
  left: 10em;
}

#boton-cambio-modo.fa-moon,
#boton-cambio-modo.fa-sun {
  animation-duration: 2s;
  animation-name: rotation;
  -webkit-animation-duration: 2s;
  -webkit-animation-name: rotation;
}

#boton-cambio-modo.fa-moon:hover,
#boton-cambio-modo.fa-sun:hover {
  transition: transform 2s;
  transform: rotate(360deg);
  color: var(--texto-color);
}

/* Regla para navegadores más antiguos */
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

/* Regla estandar de animación */
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.menu {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 10px;
}

.menu li {
  list-style: none;
  margin: 0.5em;
}

.menu a {
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--texto-color-secundario);
  padding: 2rem;
}

.menu a:hover {
  color: var(--texto-color);
}

/* SECTION DOLAR */


#icono-peso {
    position: absolute;
    z-index: 1000;
    transition: transform 0.5s ease;
}

.titulos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 2rem;
  color: var(--color-principal);
}

.titulo {
  font-size: 1.75em;
  font-weight: 700;
  text-shadow: var(--sombra-texto);
}

.subtitulo {
  font-size: 0.75em;
  font-weight: 700;
  text-transform: uppercase;
}

.texto {
  color: var(--text-secondary-color);
  opacity: 0.75;
}

#contenedor-tarjetas {
  display: grid;
  justify-items: center;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;
}

.icono_dolar {
  align-items: center !important;
}

.icono_dolar i {
  font-size: 5rem;
}

.tarjeta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 1.5em;
  background-color: var(--color-gris);
  border-radius: 25px;
  width: 200px;
  height: 200px;
  font-size: 1.25rem;
  box-shadow: var(--sombra-cajas);
}

.tipo-moneda {
  font-weight: 800;
  padding-bottom: 0.5em;
}

.precio {
  font-size: 1.75em;
  font-weight: 700;
}

.tipo-precio {
  font-size: 1rem;
  opacity: 75%;
}

.tarjeta {
  transition: transform 3s;
  transform-style: preserve-3d;
}

.tarjeta:hover {
  transform: rotateY(360deg);
  background-color: #ece14f9f;
}



/* SECTION MONEDAS */

#contenedor-tarjetas-otras {
  display: grid;
  justify-items: center;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;
}
.seccion-monedas {
  background-color: var(--color-principal);
  border-radius: 50px;
  padding: 3em;
}
.seccion-monedas .precio,
.seccion-monedas .subtitulo {
  color: var(--color-principal);
}

.titulo.alternativo {
  text-align: end;
  padding-bottom: 2rem;
  color: var(--texto-color-secundario);
}

.tarjeta-otra {
  background-color: var(--background-color);
}

/* SECTION HISTORICO */
.seccion-historico {
  background: linear-gradient(71deg, #1a73e8 43.1%, #0e4182 100%);
  border-radius: 50px 50px 0px 0px;
}

.titulo-historico {
  color: var(--texto-color-secundario);
  text-align: center;
  margin-bottom: 2em;
}

.contenedor-grafico {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.contenedor-grafico .subtitulo {
  text-shadow: var(--sombra-texto);
  color: var(--texto-color-secundario);
  font-size: 1em;
}

.contenedor-grafico img {
  max-width: 1000px;
  border-radius: 50px;
  border: 3px solid white;
  box-shadow: var(--sombra-cajas);
}

.boton {
  border-radius: 50px;
  border: 3px solid;
  padding: 20px 30px;
  color: var(--color-principal);
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}

.boton:hover {
  box-sizing: border-box;
  border: 3px solid var(--background-color);
  color: var(--texto-color-secundario);
  background-color: var(--color-principal);
}

/* Footer - Pie de Página */

.pie-pagina {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text-secondary-color);
  background: linear-gradient(71deg, #1a73e8 64.09%, #0e4182 128.18%);
}

.integrantes-utn {
  display: flex;
  padding-block: 5em 1em;
}

.lista-integrantes {
  padding-right: 2em;
}

.lista-integrantes li {
  list-style: none;
  padding-bottom: 0.5em;
}

.pie-pagina a {
  text-decoration: none;
  color: var(--texto-color-secundario);
}

.pie-pagina a:hover {
  color: var(--texto-color);
}

.pie-pagina img {
  width: 2em;
}

.recursos {
  padding: 1em;
}

/*Pagina Historico*/
.historico {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 30px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 20px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  max-width: 1200px;
  margin: 1em auto;
  padding: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.grid h2 {
  grid-column: 1/6;
  text-align: center;
}

.grid-tit {
  grid-column: 1/4;
  grid-row: 2/4;
}

.grid-tit img {
  width: 100%;
  padding: 15px;
  border-radius: 2rem;
}

.grid-may-cot-1 {
  grid-column: 4/6;
  grid-row: 2/3;
  border-radius: 2rem;
  background-color: var(--background-color);
  width: 80%;
  font-size: 25px;
  text-align: center;
  margin-right: 15%;
}

.grid-may-cot-2 {
  grid-column: 4/6;
  grid-row: 3/4;
  border-radius: 2rem;
  background-color: var(--background-color);
  width: 80%;
  font-size: 25px;
  text-align: center;
  margin-right: 15%;
}

.grid-may-pro {
  grid-column: 1/3;
  grid-row: 4/5;
  border-radius: 2rem;
  background-color: var(--background-color);
  width: 80%;
  font-size: 25px;
  text-align: center;
  margin-left: 15%;
}

.grid-p-pro {
  grid-column: 1/3;
  grid-row: 5/6;
  border-radius: 2rem;
  background-color: var(--background-color);
  width: 80%;
  font-size: 25px;
  text-align: center;
  margin-left: 15%;
}

.grid-img {
  grid-column: 3/6;
  grid-row: 4/6;
}

.grid-img img {
  width: 80%;
  height: 80%;
  margin-top: 10px;
  margin-left: 40px;
  border-radius: 2rem;
}

.grid-img h3 {
  margin-left: 40px;
}


/* MEDIA QUERY - ADAPTABILIDAD A DISPOSITIVOS  */

/*
@media (min-width: 768px) {
  .menu {
    flex-direction: row;
  }

  .pie-pagina {
    flex-direction: row;
    text-align: left;
    gap: 2em;
  }

  .pie-informacion {
    text-align: center;
  }
}
*/

/* PAGINA CONTACTO*/

.contenedor-formulario {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 25px;
    margin-top: 25px;
}
.form-item {
    margin-bottom: 15px;
    
}
.form-item label {
    display: block;
    margin-bottom: 5px;
}
.form-item input,
.form-item textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-item button {
    padding: 10px 15px;
    background-color: var(--color-principal);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-item button:hover {
    background-color: #e40a19; /* Cambia el color del botón al hacer hover */
}