/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --background-color: #f5f5f5;
  --gris-claro: #d9d9d9;
  --gris-muy-claro: #e5e4e2;
  --text-color: #333;
  --text-secondary-color: #555;
}
/* General */
body {
  background: var(--background-color);
  font-family: "Arial", sans-serif;
  color: var(--text-color);
}

.contenedor {
  max-width: 1200px;
  margin: 1em auto;
  padding: 20px;
}

/* Header - Encabezado*/
header {
  position: sticky;
  top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gris-claro);
  border-radius: 50px;
}

.menu {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.menu li {
  list-style: none;
  margin: 0.5em;
}

.menu a {
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-color);
}

.menu a:hover {
  color: var(--text-color);
}

/* Section Dolar */
.titulos {
  display: flex;
  justify-content: space-between;
  margin-block: 2rem;
}

.contenedor-tarjetas {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;
}

.tarjeta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 1.5em;
  background-color: var(--gris-claro);
  border-radius: 25px;
  width: 200px;
  height: 200px;
  font-size: 1.2rem;
}

.tarjeta-gris {
  background-color: var(--gris-muy-claro);
}

.precio {
  font-size: 1.7rem;
  font-weight: 700;
}

.tipo-moneda {
  font-weight: 800;
}

.tipo-precio {
  font-size: 1rem;
}

.seccion-monedas {
  background-color: var(--gris-claro);
  border-radius: 1rem;
  padding: 3rem;
  margin-top: 7rem;
}

.titulos-1 {
  display: flex;
  justify-content: end;
  padding-bottom: 2rem;
}
/* Footer - Pie de Página */
.pie-pagina {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text-secondary-color);
  gap: 1em;
}

.lista-integrantes li {
  list-style: none;
}

.pie-pagina img {
  width: 2em;
}

/* MEDIA QUERY - ADAPTABILIDAD A DISPOSITIVOS  */
@media (min-width: 768px) {
  .menu {
    flex-direction: row;
  }

  .pie-pagina {
    flex-direction: row;
    text-align: left;
    gap: 2em;
  }

  .pie-informacion {
    text-align: center;
  }
}
