/* reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* TEMA CLARO */
:root {
  --background-color: #f5f5f5;
  --gris-muy-claro: #e5e4e2;
  --gris-claro: #d9d9d9;
  --gris-oscuro: #1e1e1e;
  --text-color: #333;
  --text-secondary-color: #555;
  --sombra-cajas: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

/* General */

body {
  background: var(--background-color);
  font-family: "Arial", sans-serif;
  color: var(--text-color);
}

body.dark {
  --background-color: #333;
  --gris-claro: #d9d9d9;
  --gris-muy-claro: #e5e4e2;
  --text-color: #333;
  --text-secondary-color: #555;
  --gris-oscuro: #1e1e1e;
  --sombra-cajas: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.contenedor {
  max-width: 1200px;
  margin: 1em auto;
  padding: 20px;
}

/* Header - Encabezado*/

header {
  position: sticky;
  top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gris-claro);
  border-radius: 50px;
  box-shadow: var(--sombra-cajas);
}

nav {
  display: flex;
}

#boton-activo {
  height: 60px;
  width: 60px;
  line-height: 60px;
  color: var(--gris-oscuro);
  font-size: 1.5em;
  cursor: pointer;
  text-align: center;
  position: relative;
  left: 10em;
}

#boton-activo.fa-moon,
#boton-activo.fa-sun {
  animation-duration: 2s;
  animation-name: rotation;
  -webkit-animation-duration: 2s;
  -webkit-animation-name: rotation;
}

#boton-activo.fa-moon:hover,
#boton-activo.fa-sun:hover {
  transition: transform 2s;
  transform: rotate(360deg);
  color: var(--text-secondary-color);
}

/* Regla para navegadores más antiguos */
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

/* Regla estandar de animación */
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.menu {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 10px;
}

.menu li {
  list-style: none;
  margin: 0.5em;
}

.menu a {
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-color);
  padding: 2rem;
}

.menu a:hover {
  color: var(--text-secondary-color);
}

/* SECTION DOLAR */
.titulos {
  display: flex;
  justify-content: space-between;
  margin-block: 2rem;
}

.contenedor-tarjetas {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;
}

.tarjeta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 1.5em;
  background-color: var(--gris-claro);
  border-radius: 25px;
  width: 200px;
  height: 200px;
  font-size: 1.2rem;
  box-shadow: var(--sombra-cajas);
}

.tarjeta-gris {
  background-color: var(--gris-muy-claro);
}

.precio {
  font-size: 1.7rem;
  font-weight: 700;
}

.tipo-moneda {
  font-weight: 800;
}

.tipo-precio {
  font-size: 1rem;
}

.seccion-monedas {
  background-color: var(--gris-claro);
  border-radius: 1rem;
  padding: 3rem;
  margin-top: 7rem;
}

.titulos-1 {
  display: flex;
  justify-content: end;
  padding-bottom: 2rem;
}

/* SECTION HISTORICO */
.seccion-historico {
  background-color: var(--gris-claro);
  border-radius: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.titulo-historico {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.grafico {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.grafico img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

/* Footer - Pie de Página */

.pie-pagina {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text-secondary-color);
  background-color: var(--gris-oscuro);
  border-radius: 50px 50px 0px 0px;
}

.integrantes-utn {
  display: flex;
  padding-block: 5em 1em;
}

.lista-integrantes {
  padding-right: 2em;
}

.lista-integrantes li {
  list-style: none;
  padding-bottom: 0.5em;
}

.pie-pagina a {
  text-decoration: none;
  color: var(--gris-claro);
}

.pie-pagina a:hover {
  color: #fff;
}

.pie-pagina img {
  width: 2em;
}

.recursos {
  padding: 1em;
}

/*Pagina Historico*/
.historico {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 30px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 20px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  max-width: 1200px;
  margin: 1em auto;
  padding: 20px;
}

.grid h2 {
  grid-column: 1/6;
  text-align: center;
}

.grid-tit {
  grid-column: 1/4;
  grid-row: 2/4;
}

.grid-tit img {
  width: 100%;
  padding: 15px;
  border-radius: 2rem;
}

.grid-may-cot-1 {
  grid-column: 4/6;
  grid-row: 2/3;
  border-radius: 2rem;
  background-color: var(--background-color);
  width: 80%;
  font-size: 25px;
  text-align: center;
  margin-right: 15%;
}

.grid-may-cot-2 {
  grid-column: 4/6;
  grid-row: 3/4;
  border-radius: 2rem;
  background-color: var(--background-color);
  width: 80%;
  font-size: 25px;
  text-align: center;
  margin-right: 15%;
}

.grid-may-pro {
  grid-column: 1/3;
  grid-row: 4/5;
  border-radius: 2rem;
  background-color: var(--background-color);
  width: 80%;
  font-size: 25px;
  text-align: center;
  margin-left: 15%;
}

.grid-p-pro {
  grid-column: 1/3;
  grid-row: 5/6;
  border-radius: 2rem;
  background-color: var(--background-color);
  width: 80%;
  font-size: 25px;
  text-align: center;
  margin-left: 15%;
}

.grid-img {
  grid-column: 3/6;
  grid-row: 4/6;
}

.grid-img img {
  width: 80%;
  height: 80%;
  margin-top: 10px;
  margin-left: 40px;
  border-radius: 2rem;
}

.grid-img h3 {
  margin-left: 40px;
}

/* MEDIA QUERY - ADAPTABILIDAD A DISPOSITIVOS  */

/*
@media (min-width: 768px) {
  .menu {
    flex-direction: row;
  }

  .pie-pagina {
    flex-direction: row;
    text-align: left;
    gap: 2em;
  }

  .pie-informacion {
    text-align: center;
  }
}
*/
